@use '../global' as *;

.product {
  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw;
    padding: 1vw;
    background-color: $color-base;

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: 4vw;
      padding: 4vw;
		}
  }
  &-item {
    height: 45vw;
    padding-left: 1vw;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 767px) {
      padding-left: 4vw;
      height: 140vw;
		}

    > a {
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
    }
    h2 {
      font-size: 2.5vw;
      line-height: 1;
      margin: 1.5vw 2vw 1vw 0;

      @media (max-width: 767px) {
        font-size: 8vw;
        margin: 4.5vw 6vw 3vw 0;
      }
    }
    .product-image {
      background-color: #fff;
      flex-grow: 1;
      background-size: cover;
    }
    .caption {
      font-size: 0.8vw;
      display: flex;
      justify-content: space-between;
      margin: .8em;
      margin-left: 0;
      font-family: $font-caption;
      text-transform: uppercase;
      letter-spacing: .15em;

      @media (max-width: 767px) {
        font-size: 3vw;
      }
    }

    &:nth-child(1) {
      background-color: #DFD1B1;
      color: #702B27;

      .product-image {
        background-image: url('../../images/product1.jpg');
      }
    }

      &:nth-child(2) {
      background-color: #5F3F40;
      color: #C19841;

      .product-image {
        background-image: url('../../images/product2.jpg');
      }
    }

    &:nth-child(3) {
      background-color: #D0D9C3;
      color: #9A2E24;

      .product-image {
        background-image: url('../../images/product3.jpg');
      }
    }
  }

  &-item {
    background-color: #eee;
  }
}
