-
  let menu = [
    {
      pagelink: '/about.html',
      pagetitle: 'About',
    },
    {
      pagelink: '/lookbook.html',
      pagetitle: 'LookBook',
      childitems: [
        {
          pagelink: '/single.html',
          pagetitle: '01 Suede round-toe pumps',
        },
        {
          pagelink: '/single.html',
          pagetitle: '02 Lace openside pumps',
        },
        {
          pagelink: '/single.html',
          pagetitle: '03 Leather semi square-toe pumps',
        },
      ],
    },
    {
      pagelink: '/contact.html',
      pagetitle: 'Contact',
    },
    {
      pagelink: '/stockists.html',
      pagetitle: 'Stockists',
    },
  ];

doctype html

block config
  - const title = "HAAVE"
  - const description = "遊びごごろのあるモダンなスタイルを叶えてくれる 厳選された上質な素材のみを使用する事にこだわった 大人になった今だからこそ好きだと思えるもの。"
  - const url = "/"
  - const bgcolor = "#C19F8B"
  - const footercolor = "#E0E0E0"
  - const textcolor = "dark"

html(lang="ja")
  head
    include ../includes/_meta
  body(style=`background-color: ${bgcolor}`)
    include ../includes/_header

    block content

    include ../includes/_footer
