$font-base: 'Lusitana', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, serif;
$font-heading: 'Gilda Display', serif;
$font-sans: 'Helvetica Neue',Arial,sans-serif;
$font-caption: 'Montserrat',Arial,sans-serif;
$font-ja: 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;

$color-main: #be9c89;
$color-text: #333;
$color-lighttext: #fff;
$color-base: #e0e0e0;
