footer.footer(style=`background-color: ${footercolor}`)
  .footer-inner
    nav.footer-nav
      ul.footer-menu
        each item in menu
          li.menu-item
            a(href=item.pagelink).menu-link #{item.pagetitle}
    .footer-copyright
      p © Title
