section.product
  ul.product-list
    li.product-item
      a(href="/single.html")
        h2 Suede round-toe pumps
        .product-image
        .caption
          p Style 01
          p Made by hand in japan
    li.product-item
      a(href="/single.html")
        h2 Lace openside pumps
        .product-image
        .caption
          p Style 02
          p Made by hand in japan
    li.product-item
      a(href="/single.html")
        h2 Leather semi square-toe pumps
        .product-image
        .caption
          p Style 03
          p Made by hand in japan
